@font-face {font-family: 'AvenirNextLTPro-Regular';src: url('../fonts/28882F_0_0.eot');src: url('../fonts/28882F_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/28882F_0_0.woff') format('woff'),url('../fonts/28882F_0_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirNextLTPro-Medium';src: url('../fonts/28882F_1_0.eot');src: url('../fonts/28882F_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/28882F_1_0.woff') format('woff'),url('../fonts/28882F_1_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirNextLTPro-UltLt';src: url('../fonts/29CC36_0_0.eot');src: url('../fonts/29CC36_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/29CC36_0_0.woff') format('woff'),url('../fonts/29CC36_0_0.ttf') format('truetype');}

body {
    font-family: 'AvenirNextLTPro-Regular', 'helvetica','arial','sans-serif';
    border-top: 2px solid #4f8ef7;
    -webkit-font-smoothing: antialiased !important;
}

.logo{
    margin:50px 0;
}

legend {
    border-color: #36393E;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'AvenirNextLTPro-Medium';
    letter-spacing: .16em;
    font-weight: normal;
}

ul {
    padding:0 0 20px;
}

li {
    list-style: none;
    border-bottom: 1px solid #dadee7;
}

input {
    display:none;
}

label {
    color:#929BA8;
    font-size: 16px;
    padding: 20px 20px 4px 20px;
    margin:0;
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: normal;
}

input:checked+label,
input:checked+label:before{
    color:#4f8ef7;
}

label:before {
    font-family:'Ionicons';
    content: "\f170";
    font-size:32px;
    color:#dadee7;
    margin: -12px 12px 0 0;
    float:left;
}

input:checked+label:before {
    content: "\f16d";
}

.btn {
    background: #FFF;
    border: 2px solid #4F8EF7;
    width: 100%;
    border-radius: 2px;
    text-transform: uppercase;
    color: #4F8EF7;
    font-family: 'AvenirNextLTPro-Medium';
    letter-spacing: 3px;
    padding: 15px;
    margin-bottom: 50px;
}

.btn:hover {
    color: #7FAEFD;
    text-decoration: none;
    border: 2px solid #7FAEFD;
    box-shadow: none !important;
    outline: none !important
}

.btn:focus {
    color: #4F8EF7;
    border: 2px solid #4F8EF7;
    text-decoration: none;
    box-shadow: none !important;
    outline: none !important
}



