@font-face {font-family: 'AvenirNextLTPro-Regular';src: url('../fonts/28882F_0_0.eot');src: url('../fonts/28882F_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/28882F_0_0.woff') format('woff'),url('../fonts/28882F_0_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirNextLTPro-Medium';src: url('../fonts/28882F_1_0.eot');src: url('../fonts/28882F_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/28882F_1_0.woff') format('woff'),url('../fonts/28882F_1_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirNextLTPro-UltLt';src: url('../fonts/29CC36_0_0.eot');src: url('../fonts/29CC36_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/29CC36_0_0.woff') format('woff'),url('../fonts/29CC36_0_0.ttf') format('truetype');}

body{
    font-family: 'AvenirNextLTPro-Regular', 'helvetica','arial','sans-serif';
    border-top: 4px solid #4f8ef7;
}
ul{
    padding:0;
}
li{
    list-style: none;
    border-bottom: 1px solid #dadee7;
}
input{
    display:none;
}
label{
    color:#80848f;
    font-size: 15px;
    padding-top: 20px;
}
input:checked+label,
input:checked+label:before{
    color:#4f8ef7;
}
label:before{
    font-family:'Ionicons';
    content: "\f170";
    font-size:36px;
    color:#dadee7;
    margin: -20px 10px 0 0;
    float:left;
}
input:checked+label:before {
    content: "\f16d";
}