/*
 * Globals
 */

@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/28882F_0_0.eot');
    src: url('../fonts/28882F_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/28882F_0_0.woff') format('woff'), url('../fonts/28882F_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro-Medium';
    src: url('../fonts/28882F_1_0.eot');
    src: url('../fonts/28882F_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/28882F_1_0.woff') format('woff'), url('../fonts/28882F_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro-UltLt';
    src: url('../fonts/29CC36_0_0.eot');
    src: url('../fonts/29CC36_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/29CC36_0_0.woff') format('woff'), url('../fonts/29CC36_0_0.ttf') format('truetype');
}

/*
 * Base structure
 */

html,
body {
    /*background-image: url("../img/bg.png"); */
    background-size: 1099px 713px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    color: #2d3036; /* #2d3036*/
}

h1 {
    font-size: 36px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 30px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-top: 50px;
}

h2:first-child {
    margin-top: 10px;
}

h3 {
    font-size: 24px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #eef4ff;
    margin-top: 55px;
}

h4 {
    padding-top: 15px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
}

h5 {
    padding-top: 15px;
}

h5 > code {
    font-size: 14px;
    background-color: #383C42;
}

a,
a:focus,
a:hover {
    color: #383C42;
}

p {
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: -0.01em;
}

.highlight {
    background: none !important;
}

pre {
    display: block;
    padding: 10px;
    margin: 20px 0 20px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #b4c5de;
    background-color: #1B1E24;
    border: 1px solid #0A0C0F;
    border-radius: 2px;
    box-shadow: 0px 1px 0px rgba(194, 217, 255, 0.1);
    -moz-box-shadow: 0px 1px 0px rgba(194, 217, 255, 0.1);
    -webkit-box-shadow: 0px 1px 0px rgba(194, 217, 255, 0.1);
}

code {
    text-shadow: none;
    padding: 2px 2px;
    font-size: 90%;
    color: #5796FF;
    background: rgba(63, 68, 78, 0.59);
    white-space: nowrap;
    border-radius: 4px;
}

/*
 * HOME PAGE
 */

.home-container {
    padding-top: 50px;
    text-align: center;
}

.home-container .lead {
    font-size: 20px;
    font-family: "AvenirNextLTPro-UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.04em;
    margin-top: 20px;
}

.link-cordova {
    color: #374754;
}

.link-cordova:hover,
.link-cordova:active {
    color: #374754;
    text-decoration: underline;
}

.link-angularjs {
    color: #DC1B16;
}

.link-angularjs:hover,
.link-angularjs:active {
    color: #DC1B16;
    text-decoration: underline;
}

.home-container .cover-image {
    max-width: 45%;
    padding: 20px;
}

.home-container .button-row {
    margin-top: 40px;
}

.btn-download {
    background-color: #1B1E24;
    color: #FFFFFF;
    transition: 0.4s;
}

.btn-docs {
    background-color: #4F8EF7;
    border: 1px solid #4F8EF7;
    color: #FFFFFF;
    transition: 0.4s;
}

.btn-docs:hover,
.btn-docs:active {
    background-color: #FFFFFF;
    border: 1px solid #4F8EF7;
    color: #4F8EF7;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.navbar {
    min-height: 90px;
    padding-top: 20px;
    background: #2D3036;
    border-radius: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.mastfoot {
    position: static;
    margin-top: 50px;
}

/*
 * Header
 */
.masthead {
    background-color: #2d3036;
    z-index: 99;
}

.masthead-brand {
    margin-top: -19px;
    margin-left: -16px;
    margin-bottom: 0px;
}

.masthead-nav > li {
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: normal;
    color: #aab5c7; /* IE8 proofing */
    border-bottom: 2px solid transparent;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    color: #eef4ff;
    border-bottom-color: #eef4ff;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #eef4ff;
    border-bottom-color: #eef4ff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

/*
 * LEFT MENU
 */

.menu-docked {
    display: none;
    top: 145px;
    position: fixed;
    overflow-y: scroll;
    height: 80%;
}

.menu-search-div {
    display: none;
    position: fixed;
}

input.menu-search {
    border: solid 1px #5796FF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px 3px 3px 10px;
    width: 200px;
    transition: box-shadow linear 0.4s;
    box-shadow: 0 0;
    -moz-box-shadow: 0 0;
    -webkit-box-shadow: 0 0;
}

input.menu-search:focus {
    outline: none;
    border-color: #5796FF;
    transition: box-shadow linear 0.4s;
    box-shadow: 0 0 8px #8db4d4;
    -moz-box-shadow: 0 0 8px #8db4d4;
    -webkit-box-shadow: 0 0 8px #8db4d4;
}

.left-menu {
    background-color: #383c42;
    border-radius: 4px;
    margin-top: 8px;
    padding-left: 0;
    list-style: none;
    font-size: 12px;
}

.left-menu:first-child {
    margin-top: 0;
}

.left-menu li {
    display: none;
    list-style: none;
}

.left-menu li.menu-title {
    display: block;
    margin-top: 0;
}

.left-menu > li > a {
    font-size: 14px;
    line-height: 14px;
    padding: 7px 0 7px 10px;
    width: 200px;
}

.left-menu li {
    display: block;
}

.left-menu a {
    display: block;
    color: #4F8EF7;
    text-decoration: none;
    border-left: 2px solid #383c42;
}

.left-menu a.active,
.left-menu a:hover {
    background-color: #474A50 !important;
    color: white;
    border-left: 2px solid #ffffff;
}

.left-menu li:first-child > a {
    border-radius: 4px 4px 0 0;
}

.left-menu li:last-child > a {
    border-radius: 0 0 4px 4px;
}

.left-menu li:first-child > a.active,
.left-menu li:first-child > a:hover {
    border-radius: 3px 4px 0 0;
}

.left-menu li:last-child > a.active,
.left-menu li:last-child > a:hover {
    border-radius: 0 0 3px 4px;
}

@media (min-width: 992px) {
    .menu-docked {
        display: block;
    }

    .menu-search-div {
        display: block;
    }
}

/*
 * Footer
 */

.footer-hr {
    margin-bottom: -10px;
}

.mastfoot {
    font-family: "AvenirNextLTPro-UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.04em;
    color: #AAB5C7;
    text-align: center;
}

a {
    text-decoration: none;
    color: #eef4ff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
}

/*
 * Anchor fixing
 */

.anchor {
    display: block;
    height: 60px; /*same height as header*/
    margin-top: -94px; /*same height as header*/
    visibility: hidden;
}

.anchor-row {
    display: inline-block;
    width: 100%;
}

.anchor-row > h3 {
    float: left;
}

.anchor-row > h3 code {
    padding-left: 0 !important;
}

.anchor-row .icon-row {
    float: right;
    margin-top: 49px;
}

.anchor-row i {
    padding-right: 4px;
    font-size: 28px;
    line-height: 1em;
}

.anchor-row i:last-child {
    padding-right: 10px;
}

.anchor-row > .button-row {
    float: right;
    margin-top: 52px;
}

.anchor-row a.btn-anchor {
    background: #ffffff;
    border: 1px solid #5796FF;
    color: #5796FF;
    padding: 5px;
    margin: 0 5px 5px;
    border-radius: 4px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

.anchor-row a.btn-anchor:hover, a.btn-anchor:active {
    background: rgba(87, 150, 255, 0.54);
    color: #ffffff;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

/*
 * Table formatting
 */

.table-docs {
    width: 100%;
}

.table-green {
    background-color: rgba(110, 225, 131, 0.89);
    color: #000;
}

.table-red {
    background-color: rgba(255, 80, 58, 0.86);
}

.table-border-right {
    border-right: 1px #DDDDDD solid;
}

.table th {
    text-align: center;
}

table {
    width: 100%;
}

table > thead {
    border-bottom: 2px solid #DDDDDD;
}

table > thead > tr > th {
    padding-bottom: 5px;
    padding-left: 5px;
}

table > tbody > tr {
    border-bottom: 1px solid #DDDDDD;
}

table > tbody > tr:last-child {
    border-bottom: 0;
}

table > tbody > tr > td {
    padding: 3px 20px 3px 5px;
}

table code {
    background-color: #383C42;
}

blockquote {
    font-size: 14px !important;
    border: none;
    padding-top: 0;
}
