/*
 * Globals
 */


@font-face {font-family: 'AvenirNextLTPro-Regular';src: url('../fonts/28882F_0_0.eot');src: url('../fonts/28882F_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/28882F_0_0.woff') format('woff'),url('../fonts/28882F_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-Medium';src: url('../fonts/28882F_1_0.eot');src: url('../fonts/28882F_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/28882F_1_0.woff') format('woff'),url('../fonts/28882F_1_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirNextLTPro-UltLt';src: url('../fonts/29CC36_0_0.eot');src: url('../fonts/29CC36_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/29CC36_0_0.woff') format('woff'),url('../fonts/29CC36_0_0.ttf') format('truetype');}



/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default {
  font-size: 28px;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal !important;
  color: #eef5ff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background: none;
  border: 2px solid #eef5ff;
  border-radius: 80px;
  padding: 10px 32px !important;
  box-shadow: 0px 0px 8px rgba(83, 149, 255, 0.5), inset 0px 0px 6px rgba(83, 149, 255, 0.5);
  -moz-box-shadow: 0px 0px 8px rgba(83, 149, 255, 0.5), inset 0px 0px 6px rgba(83, 149, 255, 0.5);
  -webkit-box-shadow: 0px 0px 8px rgba(83, 149, 255, 0.5), inset 0px 0px 6px rgba(83, 149, 255, 0.5);
  text-shadow: 0px 0px 6px rgba(83, 149, 255, 0.8);
  -moz-text-shadow: 0px 0px 6px rgba(83, 149, 255, 0.8);
  -webkit-text-shadow: 0px 0px 6px rgba(83, 149, 255, 0.8);
  margin-top: 20px;
}
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background: none;
  border: 2px solid #fff;
  box-shadow: 0px 0px 8px rgba(83, 149, 255, 0.7), inset 0px 0px 6px rgba(83, 149, 255, 0.7);
  -moz-box-shadow: 0px 0px 8px rgba(83, 149, 255, 0.7), inset 0px 0px 6px rgba(83, 149, 255, 0.7);
  -webkit-box-shadow: 0px 0px 8px rgba(83, 149, 255, 0.7), inset 0px 0px 6px rgba(83, 149, 255, 0.7);
  text-shadow: 0px 0px 6px rgba(83, 149, 255, 0.9);
  -moz-text-shadow: 0px 0px 6px rgba(83, 149, 255, 0.9);
  -webkit-text-shadow: 0px 0px 6px rgba(83, 149, 255, 0.9);
}


/*
 * Base structure
 */

html,
body {
  background-image:url("../img/bg.png");
  background-size: 1099px 713px;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-color: #2d3036;
  -webkit-font-smoothing: antialiased;
}
body {
  color: #aab5c7;
  text-align: center;
  text-shadow: none;
  box-shadow: none;
}
body.full {
  box-shadow: none;
}

/*
#bg-pattern {
  background: url(../img/bg.png) no-repeat;
  position: fixed;
  text-align: center;
  width: 1088px;
  height: 713px;
  overflow: hidden;
}  */

h1 {
  font-size: 36px;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #eef4ff;
}

h2 {
  font-size: 30px;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #eef4ff;
}

h3 {
  font-size: 24px;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #eef4ff;
}

p {
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: -0.01em;
}

.lead {
  font-size: 20px;
  font-family: "AvenirNextLTPro-UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.04em;
  color: #AAB5C7;
  margin-top: 20px;
}

.highlight {
  background: none !important;
}

pre {
display: block;
padding: 10px;
margin: 20px 0 40px;
font-size: 13px;
line-height: 1.42857143;
word-break: break-all;
word-wrap: break-word;
color: #97A6BE;
background-color: #1B1E24;
border: 1px solid #0A0C0F;
border-radius: 2px;
box-shadow: 0px 1px 0px rgba(194, 217, 255, 0.1);
-moz-box-shadow: 0px 1px 0px rgba(194, 217, 255, 0.1);
-webkit-box-shadow: 0px 1px 0px rgba(194, 217, 255, 0.1);
}

code {
  text-shadow: none;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.site-wrapper-flow {
  padding-top: 100px;
  text-align: left;
}
.site-wrapper-flow .mastfoot {
  position: static;
  margin-top: 50px;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead {
  background-color: rgba(45,48,54,0.9);  
}

.masthead-brand {
  margin-top: -19px;
  margin-bottom: 0px;
}

.masthead-nav > li {
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:normal;
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: normal;
  color: #aab5c7; /* IE8 proofing */
  border-bottom: 2px solid transparent;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #eef4ff;
  border-bottom-color: #eef4ff;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #eef4ff;
  border-bottom-color: #eef4ff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.footer-hr {
  margin-bottom: -10px;
}

.mastfoot {
  font-family: "AvenirNextLTPro-UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.04em;
  color: #AAB5C7;
}

a {
  text-decoration: none;
  color: #eef4ff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
