/*
 * Globals
 */

@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/28882F_0_0.eot');
    src: url('../fonts/28882F_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/28882F_0_0.woff') format('woff'), url('../fonts/28882F_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro-Medium';
    src: url('../fonts/28882F_1_0.eot');
    src: url('../fonts/28882F_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/28882F_1_0.woff') format('woff'), url('../fonts/28882F_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro-UltLt';
    src: url('../fonts/29CC36_0_0.eot');
    src: url('../fonts/29CC36_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/29CC36_0_0.woff') format('woff'), url('../fonts/29CC36_0_0.ttf') format('truetype');
}

html,
body {
    /*background-image: url("../img/bg.png"); */
    background-size: 1099px 713px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    color: #53565D;
    font-weight: normal;
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

.wrapper {
    min-height: 100%;
    height: auto;
    padding-bottom: 150px;
}

h1 {
    font-size: 36px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 30px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
}

h3 {
    font-size: 26px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 55px;
}

h4 {
    font-size: 20px;
    margin-top: 35px;
}

h5:first-of-type {
    margin-top: 15px;
}

h5 {
    font-size: 18px;
    margin-top: 30px;
}

h5 > code {
    font-size: 14px;
}

h5 > em {
    font-size: 13px;
}

a,
a:focus,
a:hover {
    color: #4685dd;
    text-decoration: none;
}

p {
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: -0.01em;
}

.highlight {
    background: none !important;
}

pre {
    display: block;
    padding: 10px;
    margin: 20px 0 20px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: keep-all;
    color: #FFFFFF;
    background-color: #2D3036;
    border: 1px solid #2D3036;
    border-radius: 2px;
}

code {
    text-shadow: none;
    padding: 2px 2px;
    font-size: 90%;
    color: #4685dd;
    background: #F5F5F5;
    white-space: nowrap;
    border-radius: 1px;
}

/*
 * Header
 */

.navbar {
    min-height: 80px;
    padding-top: 20px;
    background: #2D3036;
    border-radius: 0;
    margin-bottom: 0;
}

.masthead {
    background-color: #2d3036;
    z-index: 99;
}

.masthead-brand {
    margin-top: -15px;
    margin-bottom: 0;
}

.masthead-brand > img {
    width: 151px;
    height: 70px;
}

.logo-badge {
    display: none;
    position: relative;
    top: -25px;
    left: -125px;
    padding: 2px 5px;
    border-radius: 100px;
    background-color: red;
    -webkit-background-clip: padding-box;
    font: bold 15px/19px "Helvetica Neue", sans-serif;
    color: white;
    text-decoration: none;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 30px;
}

.masthead-nav > li > a {
    font-family: "AvenirNextLTPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 0;
    padding-left: 0;
    font-size: 14px;
    font-weight: 900 !important;
    letter-spacing: 0.04em;
    color: #aeb9cb;
    border-bottom: 2px solid transparent;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    text-transform: uppercase;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    color: #eef4ff;
    border-bottom-color: #eef4ff;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #eef4ff;
    border-bottom-color: #eef4ff;
}

.masthead-brand {
    float: left;
}

.masthead-nav {
    float: right;
}

/*
 * HOME PAGE
 */

.home-container {
    padding-top: 40px;
    text-align: center;
}

.home-container h1.cover-heading {
    font-family: "AvenirNextLTPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: #000000;
}

.home-container p.lead {
    font-size: 16px;
    font-family: "AvenirNextLTPro-UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-top: 20px;
}

@media (min-width: 950px) {
    .home-container p.lead {
        padding: 0 140px;
    }
}

span.link-ngCordova {
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900 !important;
    color: #000000;
}

span.plugin-count-number {
    color: #DC1B16;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
}

.home-container .cover-image {
    max-width: 70%;
    padding: 20px;
}

.link-cordova {
    color: #475C71;
}

.link-cordova:hover,
.link-cordova:active {
    color: #475C71;
    text-decoration: underline;
}

.link-angularjs {
    color: #DC1B16;
}

.link-angularjs:hover,
.link-angularjs:active {
    color: #DC1B16;
    text-decoration: underline;
}

.home-container .button-container {
    background-color: #FAFBFD;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn-download {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1B1E24;
    color: #FFFFFF;
    transition: 0.3s;
    font-weight: 400;
    letter-spacing: 0.2em;
    border-radius: 0;
}

.btn-download:hover,
.btn-download:active {
    background-color: #FFFFFF;
    border: 1px solid #1B1E24;
    color: #1B1E24;
}

.btn-docs {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4685dd;
    border: 1px solid #4685dd;
    color: #FFFFFF;
    transition: 0.3s;
    font-weight: 400;
    letter-spacing: 0.2em;
    border-radius: 0;
}

.btn-docs:hover,
.btn-docs:active {
    background-color: #FFFFFF;
    border: 1px solid #4685dd;
    color: #4685dd;
}

@media (max-width: 776px) {

    .home-container .cover-image {
        max-width: 100%;
        padding: 20px 0;
    }

    .btn-download {
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 300px;
    }

    .btn-docs {
        margin-right: auto;
        margin-left: auto;
        width: 300px;
    }
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

/*
 * Docked-menu
 */

.docked-menu {
    padding-top: 15px;
}

.docked-menu > .left-menu > .menu-title > a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    border-right: solid 2px transparent;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px 5px 3px 10px;
    color: #50535b;
}

.docked-menu > .active-menu > .menu-title > a,
.docked-menu > .left-menu > .menu-title > a:hover {
    color: #4685dd;
    background-color: transparent;
}

/* Docked-menu : submenu (plugins) */

.docked-menu > .left-menu > ul {
    padding-left: 0;
    list-style: none;
}

.docked-menu > .left-menu > ul > li {
    border-right: solid 2px transparent;
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #50535b;
    background-color: transparent !important;
}

.docked-menu > .left-menu > ul > li > a,
.docked-menu > .left-menu > ul > li > a:active,
.docked-menu > .left-menu > ul > li > a:focus,
.docked-menu > .left-menu > ul > li > a:hover {
    padding-left: 10px;
    margin-left: 10px;
    text-decoration: none;
    display: block;
    color: inherit;
    background-color: transparent !important;
}

.docked-menu > .active-menu > ul > .active,
.docked-menu > .active-menu > ul > li:hover {
    border-right: solid 2px #4685dd;
    color: #4685dd;
    background-color: transparent !important;
}

/*
 * DOCS - Main Content
 */

.docs-container {
    margin-top: 25px;
}

.docs-content {
    padding-top: 10px;
    padding-left: 40px;
}

/*
 * Anchor fixing
 */

.anchor-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.anchor-row > h3 {
    float: left;
    margin-top: 13px;
}

.anchor-row > h3 {
    padding-left: 0 !important;
}

.anchor-row .icon-row {
    float: right;
    margin-top: 12px;
}

.anchor-row i {
    padding-right: 4px;
    font-size: 28px;
    line-height: 1em;
}

.anchor-row i:last-child {
    padding-right: 10px;
}

.anchor-row > .button-row {
    float: right;
    margin-top: 15px;
}

.anchor-row a.btn-anchor {
    background: #ffffff;
    border: 1px solid #4685dd;
    color: #4685dd;
    padding: 5px;
    margin: 0 5px 5px;
    border-radius: 4px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

.anchor-row a.btn-anchor:hover,
.anchor-row a.btn-anchor:active {
    background: #4685dd;
    color: #ffffff;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

/*
 * Table formatting
 */

.table-docs {
    width: 100%;
}

.table-green {
    background-color: rgba(110, 225, 131, 0.89);
    color: #000;
}

.table-red {
    background-color: rgba(255, 80, 58, 0.86);
}

.table-border-right {
    border-right: 1px #DDDDDD solid;
}

.table th {
    text-align: center;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

table > thead {
    border-bottom: 2px solid #DDDDDD;
}

table > thead > tr > th {
    padding-bottom: 5px;
    padding-left: 5px;
}

table > tbody > tr {
    border-bottom: 1px solid #DDDDDD;
}

table > tbody > tr:last-child {
    border-bottom: 0;
}

table > tbody > tr > td {
    padding: 3px 20px 3px 5px;
}

blockquote {
    font-size: 14px !important;
    border: none;
    padding: 0 20px 0 30px;
    margin-bottom: 0;
}

blockquote > table {
    margin-bottom: 15px;
}

/*
 * Footer
 */

.mastfoot {
    position: relative;
    clear: both;
    height: 100px;
    margin-top: -100px;
    font-family: "AvenirNextLTPro-UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.04em;
    color: #50535b;
    text-align: center;
    width: 100%;
}

.mastfoot > img.footer-hr {
    margin-bottom: -10px;
}

.mastfoot > .inner {
    margin-top: 30px;
}

.mastfoot > .inner i {
    color: red;
}

/*
 * OTHER
 */


img[alt = "actionSheet-ios"] {
    width: 30%;
    margin-left: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
}

img[alt = "actionSheet-android"] {
    width: 30%;
    margin-bottom: 10px;
    margin-top: 10px;
}

img[alt = "fb-getstarted-1"],
img[alt = "fb-getstarted-2"],
img[alt = "fb-getstarted-3"] {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

img[alt ="dialogs-alert"],
img[alt ="dialogs-confirm"],
img[alt ="dialogs-prompt"] {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
