/*
 * Globals
 */

@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/28882F_0_0.eot');
    src: url('../fonts/28882F_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/28882F_0_0.woff') format('woff'), url('../fonts/28882F_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro-Medium';
    src: url('../fonts/28882F_1_0.eot');
    src: url('../fonts/28882F_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/28882F_1_0.woff') format('woff'), url('../fonts/28882F_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNextLTPro-UltLt';
    src: url('../fonts/29CC36_0_0.eot');
    src: url('../fonts/29CC36_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/29CC36_0_0.woff') format('woff'), url('../fonts/29CC36_0_0.ttf') format('truetype');
}

html,
body {
    height: 100%;
    background: -webkit-linear-gradient(left, #f7f9fd, #f5f4f9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f7f9fd, #f5f4f9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f7f9fd, #f5f4f9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f7f9fd, #f5f4f9); /* Standard syntax */
    -webkit-font-smoothing: antialiased;
    text-align: left;
    color: #53565D;
    font-weight: normal;
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

.home-wrapper {
    min-height: 100%;
    height: auto;
    padding-bottom: 240px;
    background-color: #FFFFFF;
}

.wrapper {
    min-height: 100%;
    height: auto;
    padding-bottom: 240px;
}

h1 {
    font-size: 36px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 30px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
}

h3 {
    font-size: 24px;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 55px;
}

h4 {
    font-size: 20px;
    margin-top: 35px;
}

h5:first-of-type {
    margin-top: 15px;
}

h5 {
    font-size: 18px;
    margin-top: 30px;
}

h5 > code {
    font-size: 14px;
}

h5 > em {
    font-size: 13px;
}

h6 {
    font-size: 13px;
}

a,
a:focus,
a:hover {
    outline: 0;
    color: #4685dd;
    text-decoration: none;
}

p {
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: -0.01em;
}

.highlight {
    background: none !important;
}

pre {
    display: block;
    padding: 10px;
    margin: 20px 0 20px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: keep-all;
    color: #4A4A4C;
    background-color: #F6F7FB;
    border: 1px solid #E5E9F2;
    border-radius: 2px;
}

code {
    text-shadow: none;
    padding: 2px 2px;
    font-size: 90%;
    color: #4685dd;
    background: #F5F5F5;
    white-space: nowrap;
    border-radius: 1px;
}

/*
 * NAVIGATION BAR
 */

.navbar {
    min-height: 60px;
    background: #2D3036;
    border-radius: 0;
    margin-bottom: 0;
}

.nav-container {
    line-height: 40px;
}

.masthead-brand {
    margin-top: 7px;
    margin-bottom: 0;
}

.masthead-brand > img {
    height: 45px;
}

.masthead-nav > li {
    display: inline-block;

}

.masthead-nav > li > a {
    font-family: "AvenirNextLTPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 25px !important;
    padding-left: 25px !important;
    margin-right: -5px;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #aeb9cb;
    text-transform: uppercase;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    background-color: #1C1D21;
    color: #eef4ff;
}

.masthead-brand {
    float: left;
}

.masthead-nav {
    float: right;
}

.nav-input {
    padding: 2px 6px;
    margin-left: 25px;
    line-height: 25px;
    width: 130px;
    border-radius: 2px;
    border: none;
    color: #737986;
    height: 30px;
    background-color: #17181C;
}

*::-webkit-input-placeholder {
    color: #737986;
    font-size: 13px;
    padding-left: 15px;
    letter-spacing: 0.05em;
}

*:-moz-placeholder {
    color: #737986;
    font-size: 13px;
}

*::-moz-placeholder {
    margin-left: 10px;
    color: #737986;
    font-size: 13px;
}

*:-ms-input-placeholder {
    color: #737986;
    font-size: 13px;
}

.nav-input:active,
.nav-input:focus {
    outline: none;
}

.nav-input:focus + i,
.nav-input:active + i {
    display: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

.nav i {
    position: absolute;
    top: 1px;
    left: 32px;
    color: #999;
}

ul.results-dropdown {
    display: block;
    position: absolute;
    list-style: none;
    background-color: white;
    margin-left: 25px;
    width: 130px;
    padding: 0;
    border-radius: 2px;
    z-index: 1000;
    box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    -webkit-box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    /*
    -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    */
}

ul.results-dropdown > li {
    display: block;
    height: auto;
    line-height: 25px;
}

ul.results-dropdown > li:hover > a {
    color: #4685dd;
    background-color: #F5F8FF !important;
    border-radius: 2px;

}

ul.results-dropdown > li > a {
    position: relative;
    padding: 4px 5px;
    display: block;
    color: #717882;
    font-size: 14px;
}

ul.no-results-dropdown {
    display: none;
    position: absolute;
    list-style: none;
    background-color: white;
    margin-left: 25px;
    width: 130px;
    padding: 0;
    border-radius: 2px;
    z-index: 1000;
    box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    -webkit-box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    /*
    -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    */
}

ul.no-results-dropdown > li {
    height: auto;
    line-height: 25px;
    position: relative;
    padding: 4px 5px;
    display: block;
    color: red;
    font-size: 14px;
}

@media (max-width: 776px) {

    .masthead-nav > li > a {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}

/*
 * HOME PAGE
 */

.home-container {
    padding-top: 40px;
    text-align: center;
    background: -webkit-linear-gradient(left, #f7f9fd, #f5f4f9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f7f9fd, #f5f4f9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f7f9fd, #f5f4f9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f7f9fd, #f5f4f9); /* Standard syntax */
}

.home-container h1.cover-heading {
    font-family: "AvenirNextLTPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: #000000;
}

.home-container p.lead {
    font-size: 18px;
    font-family: "AvenirNextLTPro-UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-top: 20px;
}

@media (min-width: 992px) {
    .home-container p.lead {
        padding: 0 140px;
    }
}

span.link-ngCordova {
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900 !important;
    color: #000000;
}

span.plugin-count-number {
    color: #DC1B16;
    font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
}

.home-container .cover-image {
    max-width: 60%;
    padding: 20px;
}

.link-cordova {
    color: #475C71;
}

.link-cordova:hover,
.link-cordova:active {
    color: #475C71;
    text-decoration: underline;
}

.link-angularjs {
    color: #DC1B16;
}

.link-angularjs:hover,
.link-angularjs:active {
    color: #DC1B16;
    text-decoration: underline;
}

.home-container .button-container {
    background: -webkit-linear-gradient(left, #E0E7F0, #E1E4ED); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #E0E7F0, #E1E4ED); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #E0E7F0, #E1E4ED); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #E0E7F0, #E1E4ED); /* Standard syntax */
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.button-row {
    text-align: center;
    display: inline-block;
}

.btn-download {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    background-color: #34373E;
    color: #FFFFFF;
    transition: 0.3s;
    font-weight: 400;
    letter-spacing: 0.2em;
    border-radius: 0;
}

.btn-download:hover,
.btn-download:active {
    background-color: #FFFFFF;
    border: 1px solid #34373E;
    color: #34373E;
}

.btn-docs {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    background-color: #4380F2;
    border: 1px solid #4380F2;
    color: #FFFFFF;
    transition: 0.3s;
    font-weight: 400;
    letter-spacing: 0.2em;
    border-radius: 0;
}

.btn-docs:hover,
.btn-docs:active {
    background-color: #FFFFFF;
    border: 1px solid #4380F2;
    color: #4380F2;
}

.btn-block + .btn-block {
    margin-top: 0;
}

.expose-container {
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 10px;
}

.expose-container > div {
    padding-right: 70px;
    padding-left: 70px;
}

.expose-image {
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
}

.expose-title {
    font-family: "AvenirNextLTPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
}

.expose-detail {
    font-size: 12px;
    color: #848B95;
}

.expose-link {
    padding-top: 5px;
    text-transform: uppercase;
    color: #4380F3;
}

.expose-link > i {
    padding-left: 5px;
}

@media (max-width: 992px) {
    .home-container .cover-image {
        max-width: 80%;
        padding: 20px 0;
    }
}

@media (max-width: 768px) {

    .expose-container > div {
        padding-right: 20px;
        padding-left: 20px;
    }

    .expose-container .col-sm-4 + .col-sm-4 {
        margin-top: 20px;
    }

    .expose-container .col-sm-4 + .col-sm-4 + .col-sm-4 {
        margin-top: 20px;
    }
}

@media (max-width: 633px) {

    .btn-download {
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 300px;
    }

    .btn-docs {
        margin-right: auto;
        margin-left: auto;
        width: 300px;
    }

}

/*
 * Docked-menu
 */

.docked-menu {
    background-color: #FFFFFF;
    border-radius: 1px;
    box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    -webkit-box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    /*
    -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    */
}

.docked-menu > .left-menu > .menu-title > a {
    font-family: "AvenirNextLTPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.15em;
    border-right: solid 2px transparent;
    padding: 10px 15px 10px 15px;
    color: #717882;
}

.docked-menu > ul:first-of-type {
    padding-top: 5px;
}

.docked-menu > ul:last-of-type {
    padding-bottom: 5px;
}

.docked-menu > .active-menu > .menu-title > a,
.docked-menu > .left-menu > .menu-title > a:hover {
    color: #000000;
    background-color: transparent;
}

/* Docked-menu : submenu (plugins) */

.docked-menu > .left-menu > ul {
    padding-left: 0;
    list-style: none;
}

.docked-menu > .left-menu > ul > li {
    border-right: solid 2px transparent;
    display: block;
    color: #717882;
    background-color: transparent !important;
}

.docked-menu > .left-menu > ul > li > a,
.docked-menu > .left-menu > ul > li > a:active,
.docked-menu > .left-menu > ul > li > a:focus,
.docked-menu > .left-menu > ul > li > a:hover {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    text-decoration: none;
    display: block;
    color: inherit;
    background-color: transparent !important;
}

.docked-menu > .active-menu > ul > .active,
.docked-menu > .active-menu > ul > li:hover {
    border-right: solid 2px #4685dd;
    color: #4685dd;
    background-color: #F5F8FF !important;
    font-weight: 700;
    transition: 0.05s linear;
    -webkit-transition: 0.05s linear;
    -moz-transition: 0.05s linear;
}

/*
 * DOCS - Main Content
 */

.col-sm-3,
.col-sm-9 {
    padding-right: 0 !important; /* fix spacing between fixed sidemenu and content */
}

.docs-container {
    margin-top: 25px;
}

.docs-content {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 1px;
    box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    -webkit-box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    /*
    -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    */
}

.plugin-content {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 1px;
    box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    -webkit-box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    /*
    -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    */
}

/*
 * Anchor fixing
 */

.anchor-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 1px;
    padding: 5px 15px 5px 20px;
    box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    -webkit-box-shadow: rgb(202, 208, 230) 0px 1px 1px 0px;
    /*
    -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    box-shadow: 0px 1px 2px 0px rgba(205, 206, 209, 1);
    */
}

.anchor-row > h3 {
    float: left;
    margin-top: 13px;
}

.anchor-row > h3 {
    padding-left: 0 !important;
}

.anchor-row .icon-row {
    float: right;
    margin-top: 12px;
}

.anchor-row i {
    padding-right: 4px;
    font-size: 28px;
    line-height: 1em;
}

.anchor-row i:last-child {
    padding-right: 10px;
}

.anchor-row > .button-row {
    float: right;
    margin-top: 15px;
}

.anchor-row a.btn-anchor {
    background: #ffffff;
    border: 1px solid #4685dd;
    color: #4685dd;
    padding: 5px;
    margin: 0 5px 5px;
    border-radius: 4px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

.anchor-row a.btn-anchor:hover,
.anchor-row a.btn-anchor:active {
    background: #4685dd;
    color: #ffffff;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}

/*
 * Table formatting
 */

.table-docs {
    width: 100%;
}

.table-green {
    background-color: rgba(110, 225, 131, 0.89);
    color: #000;
}

.table-red {
    background-color: rgba(255, 80, 58, 0.86);
}

.table-border-right {
    border-right: 1px #DDDDDD solid;
}

.table th {
    text-align: center;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

table > thead {
    border-bottom: 2px solid #DDDDDD;
}

table > thead > tr > th {
    padding-bottom: 5px;
    padding-left: 5px;
}

table > tbody > tr {
    border-bottom: 1px solid #DDDDDD;
}

table > tbody > tr:last-child {
    border-bottom: 0;
}

table > tbody > tr > td {
    padding: 3px 20px 3px 5px;
}

blockquote {
    font-size: 14px !important;
    border: none;
    padding: 0 20px 0 30px;
    margin-bottom: 0;
}

blockquote > table {
    margin-bottom: 15px;
}

/*
 * Footer
 */

.mastfoot {
    position: relative;
    clear: both;
    height: 220px;
    margin-top: -220px;
    font-family: "AvenirNextLTPro-UltLt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.04em;
    color: #50535b;
    text-align: center;
    width: 100%;
}

.mastfoot > img.footer-hr {
    margin-bottom: -140px;
}

.mastfoot > .footer-links {
    position: relative;
    margin-top: 110px;
    clear: both;
    display: block;
}

.mastfoot > .footer-links ul {
    list-style: none;
}

.mastfoot > .footer-links ul > li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.mastfoot > .footer-text {
    margin-top: 10px;
}

.mastfoot > .footer-text i {
    color: red;
}

/*
 * OTHER
 */

img[alt = "actionSheet-ios"] {
    width: 30%;
    margin-left: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
}

img[alt = "actionSheet-android"] {
    width: 30%;
    margin-bottom: 10px;
    margin-top: 10px;
}

img[alt = "fb-getstarted-1"],
img[alt = "fb-getstarted-2"],
img[alt = "fb-getstarted-3"] {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

img[alt ="dialogs-alert"],
img[alt ="dialogs-confirm"],
img[alt ="dialogs-prompt"] {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


.plugin-overview-row {
    margin-top: 50px;
    text-align: center;
}