<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.ionicframework.ngCordovaDemoUnique"
		versionCode=""
		version   = "">
		<name>ngCordovaDemo</name>
		<description>Demo app for ngCordova plugins		</description>
	</widget>
