<ion-view title="Device Info">
    <ion-content padding="true">
        <div class="list card">

            <div class="item item-text-wrap">
                <h2>Device</h2>
                <p>{{device}}</p>
            </div>
            <div class="item item-text-wrap">
                <h2>Cordova Version</h2>
                <p>{{cordova}}</p>
            </div>
            <div class="item item-text-wrap">
                <h2>Model</h2>
                <p>{{model}}</p>
            </div>
            <div class="item item-text-wrap">
                <h2>Platform</h2>
                <p>{{platform}}</p>
            </div>
            <div class="item item-text-wrap">
                <h2>UUID</h2>
                <p>{{uuid}}</p>
            </div>
            <div class="item item-text-wrap">
                <h2>Version</h2>
                <p>{{version}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
