<div class="mastfoot">
	<img class="footer-hr" src="/img/footer-divider.png" width="650" height="41">

	<div class="footer-links">
		<ul>
			<li><a class="github-button" href="https://github.com/driftyco/ng-cordova" data-count-href="/driftyco/ng-cordova/stargazers" data-count-api="/repos/driftyco/ng-cordova#stargazers_count">Star</a></li>
			<li><a class="github-button" href="https://github.com/driftyco/ng-cordova" data-count-href="/driftyco/ng-cordova/network" data-count-api="/repos/driftyco/ng-cordova#forks_count">Fork</a></li>
			<li><a href="https://twitter.com/ionicframework" class="twitter-follow-button" data-show-count="false">Follow @ionicframework</a></li>
		</ul>
	</div>

	<div class="footer-text">
		<p>Built with <i class="icon ion-heart"></i> by <a href="http://ionicframework.com" target="_blank">Ionic</a>, with help from <a href="https://github.com/driftyco/ng-cordova/graphs/contributors" target="_blank">these
			awesome
			people</a>.</p>
	</div>
</div>