<ion-view title="Facebook">
  <ion-content padding="true">

    <button class="button button-block button-positive" ng-click="login()">Login</button>

    <h5>Login info</h5>

    <div ng-repeat="info in loginInfo">{{info}}</div>


    <div class="card">
      <div class="item item-divider">Login Info</div>
      <div class="item" ng-repeat="info in loginInfo">{{info}}</div>
    </div>

    <button class="button button-block button-dark" ng-click="getLoginStatus()">Check Login Status</button>

    <div class="card">
      <div class="item item-divider">Login Status</div>
      <div class="item" ng-repeat="info in status">{{info}}</div>
    </div>

    <button class="button button-block button-energized" ng-click="getMe()">API - get Me</button>

    <h5>Api Me info</h5>

    <div class="card">
      <div class="item item-divider">Api Me info</div>
      <div class="item" ng-repeat="info in me">{{info}}</div>
    </div>

    <button class="button button-block button-assertive" ng-click="logout()">Logout</button>


  </ion-content>
</ion-view>
