<ion-view title="Dialogs">

	<ion-content>
		<div class="card">
			<div class="item item-text-wrap text-center">
				<strong>{{action}}</strong>
			</div>
			<div class="item">
				<button class="button button-block button-assertive" ng-click="alert()">
					Alert
				</button>

				<br>

				<button class="button button-block button-balanced" ng-click="confirm()">
					Confirm
				</button>


				<br>
				<button class="button button-block button-energized" ng-click="prompt()">
					Prompt
				</button>
				<br>

				<button class="button button-block button-royal" ng-click="beep()">
					Beep
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
