<ion-view title="App Rate">
    <ion-nav-buttons side="right">
        <button class="button button-primary button-clear icon-right ion-code" ng-click="showSource()"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="card">
            <div class="item">
                <button class="button button-block button-positive" ng-click="promptRating()">
                    Show rating reminder
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
