<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="nl.x-services.plugins.toast"
        version="2.0">

  <name>Toast</name>

  <description>
    This plugin allows you to show a Toast.
    A Toast is a little non intrusive buttonless popup which automatically disappears.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/Toast.js" name="Toast">
    <clobbers target="window.plugins.toast" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="Toast">
        <param name="ios-package" value="Toast"/>
      </feature>
    </config-file>

    <header-file src="src/ios/Toast+UIView.h"/>
    <source-file src="src/ios/Toast+UIView.m"/>
    <header-file src="src/ios/Toast.h"/>
    <source-file src="src/ios/Toast.m"/>

    <framework src="QuartzCore.framework" />
  </platform>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Toast">
        <param name="android-package" value="nl.xservices.plugins.Toast" />
      </feature>
    </config-file>

    <source-file src="src/android/nl/xservices/plugins/Toast.java" target-dir="src/nl/xservices/plugins"/>
  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="Toast">
        <param name="wp-package" value="Toast"/>
      </feature>
    </config-file>

    <source-file src="src/wp8/Toast.cs" />
  </platform>

</plugin>
