<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.ngCordova" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ngCordova Demo</name>
  <description>
    A demo app for ngCordova
  </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
    Ionic Framework Team
  </author>
  <author email="paolo.enrico.bernasconi@gmail.com" href="http://paolobernasconi.com">
    Paolo Bernasconi
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>