<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="ionic,html5,cordova,phonegap,angularjs,ionic framework,geolocation">
	<meta name="description" content="ngCordova - Simple and powerful AngularJS Services for Cordova and Phonegap">
	<meta name="author" content="Ionic Framework">
	<meta property="og:title" content="ngCordova - Cordova Plugins with AngularJS Magic"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="http://ngcordova.com/img/ngcordova-logo.png">
	<link rel="shortcut icon" href="/img/favicon.ico">

	<title>{{page.title}} - by the Ionic Team</title>

	<link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
	<link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet">
	<link href="/css/site.css" rel="stylesheet">
	<link href="/css/syntax.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>

<div class="home-wrapper">

	<nav class="navbar">
		<div class="container nav-container">
			<a class="masthead-brand" href="#"><img src="/img/ngcordova-logo.png" alt="ngCordova"></a>
			<ul class="nav masthead-nav">
				<li><a href="/docs/">Docs</a></li>
				<li><a href="/build">Custom Build</a></li>
				<li><a href="http://ionicframework.com/" target="_blank">Ionic</a></li>
				<li><a href="https://github.com/driftyco/ng-cordova/" target="_blank">GitHub</a></li>
				<li class="nav-search-bar">
					<label for="searchInput" class="sronly">Search Docs</label>
					<input class="nav-input" type="text" placeholder="Search docs" id="searchInput"><i class="ion-ios-search" id="searchIcon"></i>
					<ul class="results-dropdown" id="searchResults">
						<script id="template" type="text/html">
							<li><a href="<%= link %>"><%= title %></a></li>
						</script>
					</ul>
					<ul class="no-results-dropdown" id="noSearchResults">
						<li>No results found</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>

	<div class="home-container">
		{{ content }}
	</div>
</div>

{% include mastfoot.html %}

{% include scripts.html %}
{% include analytics.html %}
</body>
</html>

