<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="ionic,html5,cordova,phonegap,angularjs,ionic framework,geolocation">
	<meta name="description" content="ngCordova - Simple and powerful AngularJS Services for Cordova and Phonegap">
	<meta name="author" content="Ionic Framework">
	<meta property="og:title" content="ngCordova - Cordova Plugins with AngularJS Magic"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="http://ngcordova.com/img/ngcordova-logo.png">
	<link rel="shortcut icon" href="/img/favicon.ico">

	<title>{{page.title}} - by the Ionic Framework Team</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Custom styles for this template -->
	<link href="/css/cover.css" rel="stylesheet">
	<link href="/css/syntax.css" rel="stylesheet">

	<!-- Just for debugging purposes. Don't actually copy this line! -->
	<!--[if lt IE 9]>
	<script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="full">

<div class="site-wrapper">

	<div class="site-wrapper-flow">

		<div class="cover-container">

			<div class="masthead clearfix">
				<div class="inner">
					<a class="masthead-brand" href="http://ngcordova.com"><img src="/img/ngcordova-logo.png" width="181" height="83" alt="ngCordova"></a>
					<ul class="nav masthead-nav">
						<li><a href="http://ngcordova.com">Home</a></li>
						<li class="active"><a href="/docs/">Docs</a></li>
						<li><a href="http://ionicframework.com/">Ionic</a></li>
						<li><a href="https://github.com/driftyco/ng-cordova/">GitHub</a></li>
						<li><a href="/build">Custom Build</a></li>
					</ul>
				</div>
			</div>

			<div class="cover">

				<div class="row">

					<div class="col-md-3 col-sm-3 aside-menu">
						<div class="menu-docked">
							<ul class="nav left-menu active-menu">
								<li><h5 class="menu-title">Plugins</h5></li>
								<li><a href="#AdMob">AdMob</a></li>
								<li><a href="#AppAvailability">AppAvailability</a></li>
								<li><a href="#BatteryStatus">BatteryStatus</a></li>
								<li><a href="#BarcodeScanner">BarcodeScanner</a></li>
								<li><a href="#Camera">Camera</a></li>
								<li><a href="#Capture">Capture</a></li>
								<li><a href="#Clipboard">Clipboard</a></li>
								<li><a href="#Contacts">Contacts</a></li>
								<li><a href="#Device">Device</a></li>
								<li><a href="#DeviceMotion">DeviceMotion</a></li>
								<li><a href="#DeviceOrientation">DeviceOrientation</a></li>
								<li><a href="#Dialogs">Dialogs</a></li>
								<li><a href="#File">File</a></li>
								<li><a href="#Geolocation">Geolocation</a></li>
								<li><a href="#Globalization">Globalization</a></li>
								<li><a href="#Keychain">Keychain</a></li>
								<li><a href="#Network">Network</a></li>
								<li><a href="#PinDialog">PinDialog</a></li>
								<li><a href="#Push">Push</a></li>
								<li><a href="#SocialSharing">SocialSharing</a></li>
								<li><a href="#SpinnerDialog">SpinnerDialog</a></li>
								<li><a href="#Splashscreen">Splashscreen</a></li>
								<li><a href="#SQLite">SQLite</a></li>
								<li><a href="#Statusbar">Statusbar</a></li>
								<li><a href="#Toast">Toast</a></li>
								<li><a href="#Vibration">Vibration</a></li>
							</ul>

						</div>

					</div>
					<div class="col-md-9">
						{{content}}
					</div>
				</div>

			</div>

			<div class="mastfoot ">
				<img class="footer-hr" src="/img/footer-divider.png" width="650" height="41">

				<div class="inner">
					<p>Built with computers by <a href="http://ionicframework.com" target="_blank">Ionic</a>, with help from <a href="https://github.com/driftyco/ng-cordova/graphs/contributors" target="_blank">these awesome
						people</a>.</p>
				</div>
			</div>

		</div>

	</div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>

{% include analytics.html %}
</body>
</html>
