<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="ionic,html5,cordova,phonegap,angularjs,ionic framework,geolocation">
    <meta name="description" content="ngCordova - Simple and powerful AngularJS Services for Cordova and Phonegap">
    <meta name="author" content="Ionic Framework">
    <meta property="og:title" content="ngCordova - Cordova Plugins with AngularJS Magic"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://ngcordova.com/img/ngcordova-logo.png">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{page.title}} - by the Ionic Framework Team</title>

    <link href="/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">

    <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
    <script src="/lib/listjs/list.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="full">

<div class="site-wrapper">

    <div class="site-wrapper-flow">

        <div class="container">

            <div class="masthead clearfix">
                <div class="inner">
                    <a class="masthead-brand" href="http://ngcordova.com"><img src="/img/ngcordova-logo.png" width="181" height="83" alt="ngCordova"></a>
                    <ul class="nav masthead-nav">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/docs/">Docs</a></li>
                        <li><a href="http://ionicframework.com/">Ionic</a></li>
                        <li><a href="https://github.com/driftyco/ng-cordova/">GitHub</a></li>
                        <li><a href="/build">Custom Build</a></li>
                    </ul>
                </div>
            </div>


            <div class="cover">

                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-2">
                            <div class="aside-menu">
                                <ul class="nav left-menu">
                                    <li class="menu-title">
                                        <a href="/docs_new/">Overview</a>
                                    </li>
                                </ul>
                                <ul class="nav left-menu">
                                    <li class="menu-title">
                                        <a href="/docs_new/install/">Install</a>
                                    </li>
                                </ul>
                                <ul class="nav left-menu">
                                    <li class="menu-title">
                                        <a href="/docs_new/common-issues/">Common Issues</a>
                                    </li>
                                </ul>
                                <ul class="nav left-menu active-menu">
                                    <li class="menu-title">
                                        <a href="/docs_new/plugins/">Plugins</a>
                                    </li>
                                    <li>
                                        <a href="/docs_new/plugins/camera">Camera</a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                        <div class="col-md-9">
                            {{content}}
                        </div>
                    </div>
                </div>


            </div>
            {% include mastfoot.html %}
        </div>
    </div>
</div>

{% include scripts.html %}
{% include analytics.html %}
</body>
</html>
