<ion-view title="Oauth">

    <ion-content scroll="false" padding="true">
        <button ng-click="instagramLogin()" class="button button-block button-primary">Instagram</button>
        <button ng-click="facebookLogin()" class="button button-block button-primary">Facebook</button>
        <button ng-click="googleLogin()" class="button button-block button-primary">Google</button>
        <button ng-click="linkedinLogin()" class="button button-block button-primary">LinkedIn</button>
        <button ng-click="dropboxLogin()" class="button button-block button-primary">Dropbox</button>
        <button ng-click="digitalOceanLogin()" class="button button-block button-primary">Digital Ocean</button>
        <button ng-click="githubLogin()" class="button button-block button-primary">GitHub</button>
        <button ng-click="boxLogin()" class="button button-block button-primary">Box</button>
        <button ng-click="redditLogin()" class="button button-block button-primary">Reddit</button>
        <button ng-click="twitterLogin()" class="button button-block button-primary">Twitter</button>
        <button ng-click="meetupLogin()" class="button button-block button-primary">Meetup</button>
        <button ng-click="foursquareLogin()" class="button button-block button-primary">Foursquare</button>
        <button ng-click="salesforceLogin()" class="button button-block button-primary">Salesforce</button>
        <button ng-click="stravaLogin()" class="button button-block button-primary">Strava</button>
        <div ng-bind="oauthResult">
        </div>
    </ion-content>

</ion-view>
